@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 20% 95%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 199 29% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8% 45%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 85%;
    --input: 210 10% 85%;
    --ring: 199 29% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 200 12% 90%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 199 29% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 200 20% 95%;
    --sidebar-accent-foreground: 210 10% 15%;
    --sidebar-border: 210 10% 80%;
    --sidebar-ring: 199 29% 58%;
  }
  .dark {
    --background: 204 10% 12%;
    --foreground: 210 40% 98%;
    --card: 204 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 204 10% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 29% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 8% 65%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 199 29% 58%;
    --sidebar-background: 204 10% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 199 29% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204 10% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 23%;
    --sidebar-ring: 199 29% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
